In [1]:
#import keras
import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder


from scipy.stats.distributions import gamma
from scipy.stats.distributions import poisson
from scipy.stats.distributions import expon

import statistics
from scipy.stats import norm
from scipy import stats
import scipy.stats

import matplotlib.pyplot as plt

In [2]:
#import data
data = pd.read_csv("../TOKEN BUCKET ALGORITHM/H265-data/BigBuckBunny/bigbuckbunny-QP 10.csv",infer_datetime_format=True,
                  parse_dates=['arrival_time'], index_col='arrival_time', 
                   names=['decoded_frame','arrival_time', 'video_frame', 
                                         'frame_size', 'x', 'y', 'z'])

In [3]:
data.head()

             decoded_frame video_frame  frame_size        x         y        z
arrival_time
0.00000                  0           I       686.0  99.9900   99.9900  99.9900
0.04167                  1           B        29.0  99.9900   99.9900  99.9900
0.08333                  2           B        29.0  99.9900   99.9900  99.9900
0.12500                  3           B        29.0  53.5502   99.9900  99.9900
0.16667                  4           B      1210.0  56.6828  100.5062  92.7247

In [4]:
data.dropna(0, inplace=True)

In [5]:
#drop decoded frame column
data.drop(('decoded_frame'), axis=1, inplace=True)

data.drop(('x'), axis=1, inplace=True)
data.drop(('y'), axis=1, inplace=True)
data.drop(('z'), axis=1, inplace=True)

In [6]:
# Label encoding of species column numerically
le = LabelEncoder()
le.fit(data['video_frame'])
print(list(le.classes_))
data['video_frame'] = le.transform(data['video_frame'])

['B', 'I', 'P']

In [7]:
data.head()

              video_frame  frame_size
arrival_time
0.00000                 1       686.0
0.04167                 0        29.0
0.08333                 0        29.0
0.12500                 0        29.0
0.16667                 0      1210.0

In [8]:
#Drop NA values
data.frame_size.dropna(0,inplace= True)

In [9]:
data.reset_index(inplace=True)

In [10]:
data.head()

   arrival_time  video_frame  frame_size
0       0.00000            1       686.0
1       0.04167            0        29.0
2       0.08333            0        29.0
3       0.12500            0        29.0
4       0.16667            0      1210.0

In [11]:
#Sort the arrival time 

data.sort_values('arrival_time', inplace=True)
data.reset_index(drop=True, inplace=True)

In [12]:
data.head()

   arrival_time  video_frame  frame_size
0       0.00000            1       686.0
1       0.04167            0        29.0
2       0.08333            0        29.0
3       0.12500            0        29.0
4       0.16667            0      1210.0

In [13]:
#Check for missing values

data.isnull().sum()

arrival_time    0
video_frame     0
frame_size      0
dtype: int64

In [14]:
mean_frame = np.mean(data.frame_size)
mean_frame = np.ceil(mean_frame)
print('mean_frame', mean_frame)


peak_frame = max(data.frame_size)
print ('peak_frame', peak_frame)

total = np.sum(data.frame_size)
print(total)

mean_frame 65775.0
peak_frame 1116494.0
939258987.0

In [15]:
len(data.frame_size)

14280

In [16]:
data.shape[0]

14280

***m = 10***

In [17]:
#Token Bucket algorithm

for m in range(10):
    byte_sent = 0   # byte_sent 
    deleted_bytes = 0
    bucket_size = 0  # bucket_size
    marked_bytes = 0  #
    j = 0
    l = 0
    max_bucket_size = m * peak_frame  # maximum bucket size
    
    for i in range(data.shape[0]):
        
        bucket_size += mean_frame
        
        if bucket_size > max_bucket_size:
            bucket_size = max_bucket_size
            l += 1
        
        if data.loc[i, 'frame_size'] <= bucket_size:
            byte_sent += data.loc[i, 'frame_size']
            bucket_size = (bucket_size - data.loc[i, 'frame_size'])
            
        else:
            byte_sent += bucket_size
            marked_bytes += (data.loc[i, 'frame_size'] - bucket_size)
            bucket_size = 0
            
    percent = marked_bytes * 100 / total
    print(percent)

100.0
24.021876726530593
21.818274920589076
20.27154157003557
18.988195851034217
17.892565770041443
17.115527796381894
16.54519905062138
16.06972039544616
15.59424174027094

In [18]:


#import data
dataset = pd.read_csv("../TOKEN BUCKET ALGORITHM/H265-data/BluePlanet/blueplanet-QP 40.csv",infer_datetime_format=True,
                  parse_dates=['arrival_time'], index_col='arrival_time', 
                   names=['decoded_frame','arrival_time', 'video_frame', 
                                         'frame_size', 'x', 'y', 'z'])

In [19]:
dataset.head()

             decoded_frame video_frame  frame_size      x      y      z
arrival_time
0.00000                  0           I       328.0  99.99  99.99  99.99
0.04167                  1           B        23.0  99.99  99.99  99.99
0.08333                  2           B        23.0  99.99  99.99  99.99
0.12500                  3           B        23.0  99.99  99.99  99.99
0.16667                  4           B        23.0  99.99  99.99  99.99

In [20]:
dataset.dropna(0, inplace=True)

In [21]:
#drop decoded frame column
dataset.drop(('decoded_frame'), axis=1, inplace=True)

dataset.drop(('x'), axis=1, inplace=True)
dataset.drop(('y'), axis=1, inplace=True)
dataset.drop(('z'), axis=1, inplace=True)

In [22]:
# Label encoding of species column numerically
le = LabelEncoder()
le.fit(dataset['video_frame'])
print(list(le.classes_))
dataset['video_frame'] = le.transform(dataset['video_frame'])

['B', 'I', 'P']

In [23]:
dataset.head()

              video_frame  frame_size
arrival_time
0.00000                 1       328.0
0.04167                 0        23.0
0.08333                 0        23.0
0.12500                 0        23.0
0.16667                 0        23.0

In [24]:
#Drop NA values
dataset.frame_size.dropna(0,inplace= True)

In [25]:
dataset.reset_index(inplace=True)

In [26]:
dataset.head()

   arrival_time  video_frame  frame_size
0       0.00000            1       328.0
1       0.04167            0        23.0
2       0.08333            0        23.0
3       0.12500            0        23.0
4       0.16667            0        23.0

In [27]:
#Sort the arrival time 

dataset.sort_values('arrival_time', inplace=True)
dataset.reset_index(drop=True, inplace=True)

In [28]:
#Check for missing values

dataset.isnull().sum()

arrival_time    0
video_frame     0
frame_size      0
dtype: int64

In [29]:
dataset_mean= np.mean(dataset.frame_size)

mean_frame_data2= np.ceil(dataset_mean)
print('mean_frame_data2', mean_frame_data2)

peak_data2 = np.max(dataset.frame_size)
print('peak_data2', peak_data2)

total = np.sum(data.frame_size)
print('total', total)

mean_frame_data2 899.0
peak_data2 72118.0
total 939258987.0

In [30]:
#Token Bucket algorithm

for m in range(10):
    byte_sent = 0   # byte_sent 
    deleted_bytes = 0
    bucket_size = 0  # bucket_size
    marked_bytes = 0  #
    j = 0
    l = 0
    max_bucket_size = m * peak_data2  # maximum bucket size
    
    for i in range(data.shape[0]):
        
        bucket_size += mean_frame_data2
        
        if bucket_size > max_bucket_size:
            bucket_size = max_bucket_size
            l += 1
        
        if data.loc[i, 'frame_size'] <= bucket_size:
            byte_sent += data.loc[i, 'frame_size']
            bucket_size = (bucket_size - data.loc[i, 'frame_size'])
            
        else:
            byte_sent += bucket_size
            marked_bytes += (data.loc[i, 'frame_size'] - bucket_size)
            bucket_size = 0
            
    percent = marked_bytes * 100 / total
    print(percent)

100.0
98.6332076479775
98.6332076479775
98.6332076479775
98.6332076479775
98.6332076479775
98.6332076479775
98.6332076479775
98.6332076479775
98.6332076479775

In [31]:
#Token Bucket algorithm

for m in range(10):
    byte_sent = 0   # byte_sent 
    deleted_bytes = 0
    bucket_size = 0  # bucket_size
    marked_bytes = 0  #
    j = 0
    l = 0
    max_bucket_size = m * peak_frame  # maximum bucket size
    
    for i in range(data.shape[0]):
        
        bucket_size += mean_frame_data2
        
        if bucket_size > max_bucket_size:
            bucket_size = max_bucket_size
            l += 1
        
        if data.loc[i, 'frame_size'] <= bucket_size:
            byte_sent += data.loc[i, 'frame_size']
            bucket_size = (bucket_size - data.loc[i, 'frame_size'])
            
        else:
            byte_sent += bucket_size
            marked_bytes += (data.loc[i, 'frame_size'] - bucket_size)
            bucket_size = 0
            
    percent = marked_bytes * 100 / total
    print(percent)

100.0
98.6332076479775
98.6332076479775
98.6332076479775
98.6332076479775
98.6332076479775
98.6332076479775
98.6332076479775
98.6332076479775
98.6332076479775