In [1]:
#import keras
import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder


from scipy.stats.distributions import gamma
from scipy.stats.distributions import poisson
from scipy.stats.distributions import expon

import statistics
from scipy.stats import norm
from scipy import stats
import scipy.stats

import matplotlib.pyplot as plt

In [2]:
#import data
data = pd.read_csv("../JUMPING WINDOW ALGORITHM/H265-data/BigBuckBunny/bigbuckbunny-QP 10.csv",infer_datetime_format=True,
                  parse_dates=['arrival_time'], index_col='arrival_time', 
                   names=['decoded_frame','arrival_time', 'video_frame', 
                                         'frame_size', 'x', 'y', 'z'])

In [3]:
data.head()

             decoded_frame video_frame  frame_size        x         y        z
arrival_time
0.00000                  0           I       686.0  99.9900   99.9900  99.9900
0.04167                  1           B        29.0  99.9900   99.9900  99.9900
0.08333                  2           B        29.0  99.9900   99.9900  99.9900
0.12500                  3           B        29.0  53.5502   99.9900  99.9900
0.16667                  4           B      1210.0  56.6828  100.5062  92.7247

In [4]:
data.dropna(0,inplace= True)

In [5]:
#drop decoded frame column
data.drop(('decoded_frame'), axis=1, inplace=True)

data.drop(('x'), axis=1, inplace=True)
data.drop(('y'), axis=1, inplace=True)
data.drop(('z'), axis=1, inplace=True)

In [6]:
# Label encoding of species column numerically
le = LabelEncoder()
le.fit(data['video_frame'])
print(list(le.classes_))
data['video_frame'] = le.transform(data['video_frame'])

['B', 'I', 'P']

In [7]:
data.head()

              video_frame  frame_size
arrival_time
0.00000                 1       686.0
0.04167                 0        29.0
0.08333                 0        29.0
0.12500                 0        29.0
0.16667                 0      1210.0

In [8]:
data.frame_size.dropna(0,inplace= True)

In [9]:
data.reset_index(inplace=True)

In [10]:
data.head()

   arrival_time  video_frame  frame_size
0       0.00000            1       686.0
1       0.04167            0        29.0
2       0.08333            0        29.0
3       0.12500            0        29.0
4       0.16667            0      1210.0

In [11]:
#Sort the arrival time

data.sort_values('arrival_time', inplace=True)
data.reset_index(drop=True, inplace=True)

In [12]:
data.head()

   arrival_time  video_frame  frame_size
0       0.00000            1       686.0
1       0.04167            0        29.0
2       0.08333            0        29.0
3       0.12500            0        29.0
4       0.16667            0      1210.0

In [13]:
#Check missing values

data.isnull().sum()

arrival_time    0
video_frame     0
frame_size      0
dtype: int64

In [14]:
#Define the parameters

peak_frame = max(data.frame_size)
print ('peak_frame', peak_frame)

#Comitted Information rate (CIR) - MEAN
mean_frame = np.mean(data.frame_size)
print('mean', mean_frame)

#Calculating the burstiness of frame size
burstiness = peak_frame/mean_frame
print('burstiness', burstiness)

num_of_frames = data.shape[0]
total = np.sum(data.frame_size)
print(num_of_frames)
print(total)

peak_frame 1116494.0
mean 65774.43886554622
burstiness 16.974587989755374
14280
939258987.0

In [15]:
upper_bound = 1116494.0

Committed burst size (CBS) is defined by the maximum number of bytes that can be transmitted into the network.
Time interval (T) defines the time per burst

token generation rate = CBS/time interval

Assume that the traffic needs to be sent into the network at a mean rate CIR of 2.4 Mbps. If a burst for a duration of 10 millisec (= 0.01 sec) needs to be sustained, CBS can be calculated using the token bucket definition as

CBS=2,400,000 bits/sec Ã— 0.01undefinedsec  / 8 undefinedbits/byte,
 which yields 3000 bytes.

Thus, the token rate is 300,000 (= 2,400,000/8) bytes per sec, the committed burst size is 3000 bytes, and the token interval (T) is 10 millisec. Therefore, the token generator credits the token bucket with 3000 bytes worth of tokens every 10 millisec. This indicates that the conforming traffic will, in the worst case, come in 100 bursts per sec of 3000 bytes each and at a committed information rate not exceeding 2.4 Mbps.

In [16]:
len(data.frame_size)

14280

In [17]:
data.shape[0]

14280

***window size = 5***

In [18]:
#Final Jumping window algorithm

windowSize = 5
addition =0
max_frame= 0

for i in range(0, len(data['frame_size']),  windowSize):
    byte_sent = 0
    deleted_bytes = 0
    bucket_size = 0
    marked_bytes = 0
    #j = 0
    #l = 0
    
    max_frame_bytes = list(data.frame_size[i:i+ windowSize])
    mean_frame1 = np.mean(max_frame_bytes)    
    
    max_bucket_size = windowSize * upper_bound
    
    for j in range(i, i+windowSize):
        
        bucket_size += mean_frame1
        
        if bucket_size > max_bucket_size:
            bucket_size = max_bucket_size
        
        
        if data.loc[i, 'frame_size'] <= bucket_size:            
            byte_sent += data.loc[i, 'frame_size']
            bucket_size = (bucket_size - data.loc[i, 'frame_size'])
            
        else:
            byte_sent += bucket_size
            marked_bytes += (data.loc[i, 'frame_size'] - bucket_size)
        
            
    addition += abs(marked_bytes)        
            
percent = addition * 100 / total
print(percent)

16.15507374431969

***window size = 10***

In [19]:
#Final Jumping window algorithm

windowSize = 10
addition =0
max_frame= 0

for i in range(0, len(data['frame_size']),  windowSize):
    byte_sent = 0
    deleted_bytes = 0
    bucket_size = 0
    marked_bytes = 0
    #j = 0
    #l = 0
    
    max_frame_bytes = list(data.frame_size[i:i+ windowSize])
    mean_frame1 = np.mean(max_frame_bytes)    
    
    max_bucket_size = windowSize * upper_bound
    
    for j in range(i, i+windowSize):
        
        bucket_size += mean_frame1
        
        if bucket_size > max_bucket_size:
            bucket_size = max_bucket_size
        
        
        if data.loc[i, 'frame_size'] <= bucket_size:            
            byte_sent += data.loc[i, 'frame_size']
            bucket_size = (bucket_size - data.loc[i, 'frame_size'])
            
        else:
            byte_sent += bucket_size
            marked_bytes += (data.loc[i, 'frame_size'] - bucket_size)
        
            
    addition += abs(marked_bytes)        
            
percent = addition * 100 / total
print(percent)

32.755591030613196

***window size = 20***

In [20]:
#Final Jumping window algorithm

windowSize = 20
addition =0
max_frame= 0

for i in range(0, len(data['frame_size']),  windowSize):
    byte_sent = 0
    deleted_bytes = 0
    bucket_size = 0
    marked_bytes = 0
    #j = 0
    #l = 0
    
    max_frame_bytes = list(data.frame_size[i:i+ windowSize])
    mean_frame1 = np.mean(max_frame_bytes)    
    
    max_bucket_size = windowSize * upper_bound
    
    for j in range(i, i+windowSize):
        
        bucket_size += mean_frame1
        
        if bucket_size > max_bucket_size:
            bucket_size = max_bucket_size
        
        
        if data.loc[i, 'frame_size'] <= bucket_size:            
            byte_sent += data.loc[i, 'frame_size']
            bucket_size = (bucket_size - data.loc[i, 'frame_size'])
            
        else:
            byte_sent += bucket_size
            marked_bytes += (data.loc[i, 'frame_size'] - bucket_size)
        
            
    addition += abs(marked_bytes)        
            
percent = addition * 100 / total
print(percent)

64.62651629651116